# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open from CodePicnic'
      'command': 'CodePicnic:open-remote'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'CodePicnic'
      'submenu': [
        {
          'label': 'Open from CodePicnic'
          'command': 'CodePicnic:open-remote'
        }
      ]
    ]
  }
]
